body {
    text-align: center; 
}

h3 {
    margin: 1%; 
}

textarea {
    border-radius: 10px;
    margin: 2%;
} 

input {
    border-radius: 10px;
    margin: 1% 2%;
    font-size: 25px;
}

#númeroDesplazamiento {
    width: 50px;

}