body {
    text-align: center; 
    background: rgb(114, 31, 153);
    color: white;
}

img {
    height: 50px;
    width: 50px;
}

h3 {
    margin: 2% 1% 1% 1%; 
}

textarea {
    border-radius: 10px;
    margin: 1% 2%;
} 

input {
    border-radius: 10px;
    margin: 1% 2%;
    font-size: 25px;
}

#displacementNumber {
    width: 50px;
}